<%= stylesheet_link_tag "form_design.css" %>
<style>
.example1 {
 height: 50px;  
 overflow: hidden;
 position: relative;
 width=100%;
 background-color: #7B68EE;
}
.example1 h2 {
 color: white;   
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);           
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
img {
    width:300px;
    height:300px;
    display: block;
    margin: 0 auto;
}
</style>
<div class="example1">
<h2>Welcome to OARS - Online Academic Registration Portal of IIT Kanpur</h2>
</div>
<h1 style="margin-top: 20px;">Login</h1>
<div class="form_design">
 <%= form_for(:session, url: login_path) do |f| %>
      <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
<br>
<br>
<%=image_tag :"iitk.png"%>
