<p id="notice"><%= notice %></p>

<h1>Course Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_requests.each do |course_request| %>
      <tr>
        <td><%= course_request.user_id %></td>
        <td><%= course_request.status %></td>
        <td><%= course_request.course %></td>
        <td><%= link_to 'Show', [course_request.course, course_request] %></td>
        <td><%= link_to 'Edit', edit_course_course_request_path(course_request.course, course_request) %></td>
        <td><%= link_to 'Destroy', [course_request.course, course_request], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Request', new_course_course_request_path %>
