<%= stylesheet_link_tag "show_details.css" %>
<p id="notice"><%= notice %></p>

<div class="show">
<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @instructor.dept %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>
</div>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
