<%= stylesheet_link_tag "table_design.css" %>
<%= stylesheet_link_tag "navigation_bar.css" %>
<p id="notice"><%= notice %></p>

<ul>
     <li class="left"><a href="../../">Home</a></li>
     <li class="left active"><%= link_to "Transcript", courses_user_path(current_user) %></li>
     <li class="left"><%= link_to "Course Request", request_course_user_path(current_user) %></li>
     <li class="left"><%= link_to 'Log Out', logout_path, method: "delete" %></li>
     <li class="right"><a><%= current_user.name %></a></li>
 </ul>

<h1>Ongoing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Credit</th>
      <th>Semester</th>
      <th>Grade</th>
    </tr>
  </thead>

  <tbody>
    <% @ongoing_courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.code %></td>
        <td><%= course.credit %></td>
        <td><%= course.sem %></td>
        <td><%= course.grade %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Completed Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Credit</th>
      <th>Semester</th>
      <th>Grade</th>
    </tr>
  </thead>

  <tbody>
    <% @completed_courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.code %></td>
        <td><%= course.credit %></td>
        <td><%= course.sem %></td>
        <td><%= course.grade %></td>
      </tr>
    <% end %>
  </tbody>
</table>


