<%= stylesheet_link_tag "table_design.css" %>
<%= stylesheet_link_tag "navigation_bar.css" %>
<ul>
    <li><a href="../../">Home</a></li>
    <li><%= link_to "Transcript", user_course_completeds_path(current_user) %></li>
    <li class="active"><%= link_to "Course Request", request_course_user_path(current_user) %></li>
    <li><%= link_to 'Log Out', logout_path, method: "delete" %></li>
</ul>
<p id="notice"><%= notice %></p>

<h1>Requested Courses</h1>

<table>
  <thead>
    <tr>
      <th>Dept</th>
      <th>Code</th>
      <th>Title</th>
      <th>Instructor</th>
      <th>Credit</th>
      <th>Timing</th>
      <th>Status</th>
      <th>Request</th>
    </tr>
  </thead>

  <tbody>
    <% @requested_courses.each do |course| %>
      <tr>
        <td><%= course.dept %></td>
        <td><%= course.code %></td>
        <td><%= course.title %></td>
        <td><%= course.instructor %></td>
        <td><%= course.credit %></td>
        <td><%= course.timing %></td>
        <td><%= course.user_requests.find_by(user_id: @user.id).status %></td> 
        <td> <% if @user.requested?(course) && !@user.accepted?(course)%>
                <%= render 'delete', course: course %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<h1>Available Courses</h1>

<table>
  <thead>
    <tr>
      <th>Dept</th>
      <th>Code</th>
      <th>Title</th>
      <th>Instructor</th>
      <th>Credit</th>
      <th>Timing</th>
      <th>Request</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.dept %></td>
        <td><%= course.code %></td>
        <td><%= course.title %></td>
        <td><%= course.instructor %></td>
        <td><%= course.credit %></td>
        <td><%= course.timing %></td>
        <td> <% if !@user.requested?(course) %>
                <%= render 'request', course: course %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
