<%= stylesheet_link_tag "show_details.css" %>
<p id="notice"><%= notice %></p>

<div class = "show">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Roll:</strong>
  <%= @user.roll %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.dob %>
</p>
</div>  

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Log_out', logout_path, method: "delete" %>
