<p id="notice"><%= notice %></p>

<h1>Course Completeds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Credit</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_completeds.each do |course_completed| %>
      <tr>
        <td><%= course_completed.name %></td>
        <td><%= course_completed.code %></td>
        <td><%= course_completed.credit %></td>
        <td><%= course_completed.grade %></td>
        <td><%= link_to 'Show', [course_completed.user, course_completed] %></td>
        <td><%= link_to 'Edit', edit_user_course_completed_path(course_completed.user, course_completed) %></td>
        <td><%= link_to 'Destroy', [course_completed.user, course_completed], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Completed', new_user_course_completed_path %>
