<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_completed.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course_completed.code %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @course_completed.credit %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @course_completed.grade %>
</p>

<%= link_to 'Edit', edit_user_course_completed_path(@course_completed) %> |
<%= link_to 'Back', user_course_completeds_path %>
