<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dept %>
    <%= f.text_field :dept %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :instructor %>
    <%= f.text_field :instructor %>
  </div>

  <div class="field">
    <%= f.label :credit %>
    <%= f.number_field :credit %>
  </div>

  <div class="field">
    <%= f.label :timing %>
    <%= f.radio_button :timing, '8:00 AM-9:00 AM MWF' %>8:00 AM - 9:00 AM MWF <br />
    <%= f.radio_button :timing, '9:00 AM -10:00 AM MTTh' %>9:00 AM - 10:00 AM MTTh<br />
    <%= f.radio_button :timing, '10:00 AM - 11:00 AM TWF' %> 10:00 AM - 11:00 AM TWF<br />
    <%= f.radio_button :timing, '12:00 PM - 1:00 PM TWTh' %>12:00 PM - 1:00 PM TWTh<br />
    <%= f.radio_button :timing, '5:00 PM -6:00 PM MTF'%>5:00 PM - 6:00 PM MTF<br />
   </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
