<%= stylesheet_link_tag "table_design.css" %>
<%= stylesheet_link_tag "navigation_bar.css" %>
<ul>
     <li class="left"><%= link_to 'Home', instructor_path(current_user) %></li>
     <li class="left"><%= link_to 'Edit Personal Details', edit_instructor_path(current_user) %></li>
     <li class="left"><%= link_to 'List of All Instructors', instructors_path(current_user) %></li>
     <li class="left active"><%= link_to "Course Requests", accept_requests_course_path(current_user) %></li>
     <li class="left"><%= link_to 'Log Out', logout_path, method: "delete" %></li>
     <li class="right"><a><%= current_user.name %></a></li>
</ul>
<p id="notice"><%= notice %></p>

<h1>Pending Requests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Roll</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requested_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.roll %></td>
        <td> <% if !@course.accepted?(user) %>
                <%= render 'accept', user: user %>
            <% end %>
        </td>
        <td>    
            <%= render 'reject', user: user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


