<%= stylesheet_link_tag "show_details.css" %>
<p id="notice"><%= notice %></p>

<div class="show">
<p>
  <strong>Dept:</strong>
  <%= @course.dept %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<p>
  <strong>Email:</strong>
  <%= @course.email %>
</p>


<p>
  <strong>Credit:</strong>
  <%= @course.credit %>
</p>

<p>
  <strong>Timing:</strong>
  <%= @course.timing %>
</p>
</div>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
