<%= stylesheet_link_tag "show_details.css" %>
<%= stylesheet_link_tag "navigation_bar.css" %>
<p id="notice"><%= notice %></p>

<ul>
     <li class="left"><%= link_to 'Home', login_path(current_user) %></li>
     <li class="left"><%= link_to 'Course List', courses_path %></a></li>
     <li class="left"><%= link_to 'Log Out', logout_path, method: "delete" %></li>
     <li class="right"><a><%= current_user.name %></a></li>
</ul>

<div class="show">
<p>
  <strong>Dept:</strong>
  <%= @course.dept %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<p>
  <strong>Email:</strong>
  <%= @course.email %>
</p>


<p>
  <strong>Credit:</strong>
  <%= @course.credit %>
</p>

<p>
  <strong>Timing:</strong>
  <%= @course.timing %>
</p>
</div>
<br>
<hr>
<p style="color:red; font-size:15px; text-align: center"><%= link_to 'Edit Course Details', edit_course_path(@course) %><br><br><strong>(Admin Acess Only)</strong></p>
